:root {
  --dark-color: #002060;
  --light-color: #82abff;
  --main-font: "obviously", sans-serif;
  --wide-font: "obviously-wide", sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;

}

.color {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.ball {
  border: 3px solid #82abff;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  pointer-events: none;
  z-index: 10;
}

nav {
  color: var(--light-color);
  display: flex;
  font-family: "obviously-narrow", sans-serif;
  font-weight: 300;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  position: fixed;
 width: 100%;
  z-index: 2;
}

.name,
.lyrics a {
  font-size: 25px;
}

.album {
  font-size: 18px;
}

.lyrics a {
  color: var(--light-color);
  text-decoration: none;
}

.audio {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.record {
 padding-top: 100px;
}

.front-dummy {

     display: block;
  margin: 0px auto;
  z-index: 3;
  position: absolute;
  left: 20%;


}

.back-dummy {

     display: block;
  margin: 0px auto;
  z-index: 2;
}

.mention {
  font-family: var(--main-font);
  padding-top: 100px;
  position: relative;
  z-index: 4;
}

.chose,
.nik {
  font-size: 100px;
}

.chose {
  font-weight: 500;
  padding-left: 200px;
}

.nik {
  padding-left: 500px;
}

ul li {
  display: inline;
  font-family: var(--wide-font);
  font-size: 15px;
  list-style: none;
  padding-left: 250px;
}

hr {
  border: 1px solid var(--light-color);
  margin: 0 auto;
  width: 1200px;
}

.quote-contain {
  margin: 200px;
  padding-bottom: 200px;
}

.stranger {
  color: var(--light-color);
  display: inline;
  font-family: var(--wide-font);
  font-size: 18px;
}

.quote {
  color: var(--light-color);
  font-family: var(--main-font);
  font-size: 60px;
  padding-left: 400px;
}

.quote > span {
  background: linear-gradient(
    to right,
    rgb(130, 171, 255) 50%,
    rgb(0, 32, 96) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.container {
  margin: 0px;
  padding: 20px 0 0px 150px;
  height: 100%;
  width: 100%;
}

.track-title {
  font-family: var(--wide-font);
  font-size: 18px;
  padding-bottom: 200px;
}

.song-name {
  font-family: var(--main-font);
  padding: 0px 0 8px 0;
  font-size: 35px;
  object-fit: contain;
}

.test img {
  position: sticky;
}

.test {
  width: 900px;
}

.album-listen h2 {
  color: #002060;
  font-family: var(--wide-font);
  font-size: 55px;
  padding: 300px 0 200px 100px;
}

.album-listen a {
  color: #002060;
  font-weight: 600;
  text-decoration: none;
  
}



@media (max-width: 400px) {

  body {
    margin: 0 auto;
    max-width: 400px;
    overflow-x: hidden;
  }
 .color {
  margin: 0;
  padding: 0;
  max-width: 400px;
 }

 .ball{
  display: none;
 }

.name,
.lyrics a {
  font-size: 15px;
}

.album {
  font-size: 10px;
}

 .audio {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 99%;
   z-index: 10;
   margin: 0 auto;
   display: block;
   padding: 0;
 }

 
 .front-dummy, .back-dummy {
  margin: 50px auto;
 width: 300px;
 }

 .front-dummy{
  left: 10%;
 }

 .chose,
.nik {
  font-size: 30px;
  margin: 0;
}

.chose {
  font-weight: 500;
  padding-left: 20px;
}
ul {
  margin: 0;
}


ul li {
  display: inline;
  padding-left: 30px;
  font-size: 10px;
}

.nik {
  padding-left: 100px;
}

hr {
margin: 0px auto;
  width: 300px;
}

.stranger {
  font-size: 12px;
}
.quote {
  font-size: 30px;
  padding-left: 80px;
}

.quote-contain{
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 300px;
  margin-top: 200px;
}

.quote > span {
  background-size: 200% 100%;
  background-position-x: 50%;
}

.container {
 padding-left: 15px;
}

.track-title {

  font-size: 18px;
  padding-bottom: 100px;
}

.song-name {
  font-size: 15px;
  padding-left: 5px;
}

.pics {
  margin: 50px;
  padding: 0;
}

.test {
  width: 500px;
}

.album-listen h2 {
  font-size: 30px;
  padding-left: 80px
  }

}