:root {
  --dark-color: #002060;
  --light-color: #82abff;
  --main-font: "obviously", sans-serif;
  --wide-font: "obviously-wide", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.color {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.ball {
  border: 3px solid #82abff;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  pointer-events: none;
  z-index: 10;
}

nav {
  color: var(--light-color);
  display: flex;
  font-family: "obviously-narrow", sans-serif;
  font-weight: 300;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.name,
.lyrics a {
  font-size: 25px;
}

.album {
  font-size: 18px;
}

.lyrics a {
  color: var(--light-color);
  text-decoration: none;
}

.audio {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}



.record {
  display: block;
  margin: 0px auto;
  position: fixed;
  padding-top: 100px;
  position: relative;
  top: 50%;
  bottom: 20%;
  left: 20%;
}

.front-dummy {
  z-index: 3;
  position: absolute;
}

.back-dummy {
  z-index: 2;
}

.mention {
  font-family: var(--main-font);
  padding-top: 100px;
  position: relative;
  z-index: 4;
}

.chose,
.nik {
  font-size: 100px;
}

.chose {
  font-weight: 500;
  padding-left: 200px;
}

.nik {
  padding-left: 500px;
}

ul li {
  display: inline;
  font-family: var(--wide-font);
  font-size: 15px;
  list-style: none;
  padding-left: 250px;
}

hr {
  border: 1px solid var(--light-color);
  margin: 0 auto;
  width: 1200px;
}

.quote-contain {
  margin: 200px;
  padding-bottom: 200px;
}

.stranger {
  color: var(--light-color);
  display: inline;
  font-family: var(--wide-font);
  font-size: 18px;
}

.quote {
  color: var(--light-color);
  font-family: var(--main-font);
  font-size: 60px;
  padding-left: 400px;
}

.quote > span {
  background: linear-gradient(
    to right,
    rgb(130, 171, 255) 50%,
    rgb(0, 32, 96) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.container {
  margin: 0px;
  padding: 20px 0 0px 150px;
  height: 100%;
  width: 100%;
}

.track-title {
  font-family: var(--wide-font);
  font-size: 18px;
  padding-bottom: 200px;
}

.song-name {
  font-family: var(--main-font);
  padding: 0px 0 8px 0;
  font-size: 35px;
  object-fit: contain;
}

.test img {
  position: sticky;
}

.test {
  width: 900px;
}

.album-listen h2 {
  color: #002060;
  font-family: var(--wide-font);
  font-size: 55px;
  padding: 300px 0 200px 100px;
}

.album-listen a {
  color: #002060;
  font-weight: 600;
  text-decoration: none;
  
}
