body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.color {
  background-color: #002060;
  width: 100%;
  color: #82abff;
}

.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid red;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  z-index: 2;
  color: #82abff;
  font-family: "obviously-narrow", sans-serif;
  font-weight: 900;
  
}

.name {
  font-size: 25px;
}

.album {
  font-size: 18px;
}

.lyrics a {
  text-decoration: none;
  color: #82abff;
  font-size: 25px;
}

.audio {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.record {
  display: block;
  margin: 0px auto;
  position: fixed;
  display: flex;
  position: relative;
  top: 50%;
  bottom: 20%;
  left: 20%;
  padding-top: 100px;
}

.front-dummy {
  z-index: 3;
  position: absolute;
}

.back-dummy {
  z-index: 2;
}

.mention {
  padding-top: 100px;
  z-index: 4;
  position: relative;
   font-family: "obviously", sans-serif;
}

.chose {
  padding-left: 200px;
  font-size: 100px;
  font-weight: 500;
}

.nik {
  padding-left: 500px;
  font-size: 100px;
}

ul li {
  list-style: none;
  display: inline;
  padding-left: 250px;
  font-size: 15px;
  font-family: "obviously-wide", sans-serif;
}

hr {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #82abff;
}

.quote-contain {
  margin: 200px;

}
.stranger {
  font-size: 18px;
  color: #82abff;
  display: inline;
  font-family: "obviously-wide", sans-serif;
}
.quote {
    font-family: "obviously", sans-serif;
  font-weight: 200;
  font-size: 60px;
  color: #82abff;
  padding-left: 400px;
}

.quote > span {
  background: linear-gradient(
    to right,
    rgb(130, 171, 255) 50%,
    rgb(0, 32, 96) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.container {
  margin: 0px;
  padding: 20px 0 0px 150px;
  height: 100%;
  width: 100%;
}

/* .tracks {
  color: #82abff;
} */

.track-title {
  font-family: "obviously-wide", sans-serif;
  font-size: 18px;
  padding-bottom: 100px;
}

.song-name {
    font-family: "obviously", sans-serif;
  padding: 0px 0 8px 0;
  font-size: 35px;
  object-fit: contain;
}

.test img {
  position: sticky;
}

.test {
  width: 900px;
}


.album-listen h2 {
  font-size: 55px;
  color: #002060;
  padding: 300px 0 500px 100px;
  font-family: "obviously-wide", sans-serif;
}


.album-listen a {
  text-decoration: none;
  color: #002060;
}

